.about-wrapper{
	padding: 30px 0 60px ;
}
.about-descr{
	h1{
		text-align: center;
		font-size: 32px;
		color: #333;
	}
}
.about-elements{
	margin: 40px 100px 100px;
}
.about-element{
	width: 35%;
	padding: 40px;
	border: 1px solid red;
	border-radius: 50%;
	&:nth-child(1){
		position: relative;
		&:after{
			position: absolute;
			content: '';
			width: 141px;
			height: 124px;
			background: url('../img/arrow.png') no-repeat;
			background-size: cover;
			right: -145px;
			top: 35px;
			transform: rotate(75deg);
		}
	}
	&:nth-child(2){
		margin: -25px 0 -25px 33%;
		position: relative;
		&:after{
			position: absolute;
			content: '';
			width: 141px;
			height: 124px;
			background: url('../img/arrow.png') no-repeat;
			background-size: cover;
			right: -145px;
			top: 35px;
			transform: rotate(75deg);
		}
		&:before{
			position: absolute;
			content: '';
			width: 141px;
			height: 124px;
			background: url('../img/arrow.png') no-repeat;
			background-size: cover;
			left: -135px;
			top: 30px;
			transform: rotate(255deg);
		}
	}
	&:nth-child(3){
		margin-left: 65%;
		position: relative;
		&:before{
			position: absolute;
			content: '';
			width: 141px;
			height: 124px;
			background: url('../img/arrow.png') no-repeat;
			background-size: cover;
			left: -135px;
			top: 30px;
			transform: rotate(255deg);
		}
	}
}
.about-element-descr{
	h2{
		text-align: center;
		font-size: 20px;
		margin-bottom: 15px;
	}
}
.about-element-intro{
	text-align: center;
	p{
		font-size: 15px;
		line-height: 1.5;
		color: #333;
	}
}