@keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  50%{
  	opacity: .8;
    transform: translate3d(50%, 0, 0);
  }
  100%{
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight2x {
  from {
    opacity: 0;
    transform: translate3d(200%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}