/* Arrow scroll down */
.btn-down{
	display: inline-block;
	position: absolute;
	width: 30px;
	height: 30px;
	left: calc(50% - 15px);
	border-radius: 50%;
	cursor: pointer;
	bottom: 20px;
}
.btn-down__arrows{
	width: 30px;
	height: 30px;
	position: relative;
}
.btn-down__arrow{
	display: inline-block;
	position: absolute;
	top: 12px;
	width: 7px;
	height: 2px;
	background-color: #fff;
}
.btn-down__arrow--left{
	left: 9px;
	transform: rotate(45deg);
}
.btn-down__arrow--right{
	right: 9px;
	transform: rotate(-45deg);
}
/* Arrow scroll down  **END*** */