/* header slider */
.header-slider{
	height: 500px;
	width: 100%;
	position: relative;
}
.slick-slide{
	height: 470px;
}
.header-slide__img{height: 450px;}
.header-slide__img--1{background: url('../img/slide-3-optim.jpg') center no-repeat; background-size: contain;}
.header-slide__img--2{background: url('../img/slide-2-optim.jpg') no-repeat; background-size: cover;}
.header-slide__img--3{background: url('../img/slide-1-optim.jpg') no-repeat; background-size: cover;}
.header-slide__img--4{background: url('../img/slide-4-optim.jpg') no-repeat; background-size: cover;}
.hidden {display:none;}
.header-slide__intro{
	position: absolute;
	top: 60px;
	margin-left: 200px;
	width: 600px;
}
.header-slide.slick-active .header-slide__intro h2{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeInRight;
	animation-delay: 1s;
}
.header-slide.slick-active .header-slide__intro2x h2{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeInRight2x;
	animation-delay: 1s;
}
.header-slide .header-slide__intro h2{
	animation-duration: .5s;
	animation-fill-mode: both;
	animation-name: fadeOutLeft;
}
.header-slide__link{
	margin-left: calc(8% - 30px);
	text-align: center;
	margin-top: -15px;
}
.header-slide__link a{
	color: #fff;
	padding: 5px 30px;
	font-size: 25px;
	border-radius: 20px;
	transition: $transition-m;
	background-color: $main-color-blue;
}
.header-slide__link a:hover{
	background-color: $main-color-red;
	color: #fff;
}
.first-intro,
.second-intro{
	padding: 5px 10px;
	font-size: 44px;
	line-height: 1;
	display: inline-block;
}
.first-intro{
	margin-right: 100px;
	color: #fff;
	background-color: $main-color-red;
}
.second-intro{
	margin-top: 10px;
	margin-left: 100px;
	color: $main-color-red;
	background-color: #fff;
}

/* need for word 'Innovation'. it too small */

.second-intro--margix2x{
	margin-left: 240px;
}

/* ************* */

.header-slider:hover .slick-next,
.header-slider:hover .slick-prev{
	opacity: 1;
}
.slick-next,
.slick-prev{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: calc(50% - 60px);
	color: #fff;
	font-size: 25px;
	z-index: 5;
	cursor: pointer;
	width: 60px;
	height: 60px;
	text-align: center;
	z-index: 999;
	opacity: 0;
	background-color: rgba(0,0,0,.3);
	transition: $transition-m;
	border-radius: 5px;
}
.slick-next:hover,
.slick-prev:hover{
	background-color: rgba(0,0,0,.5);
}
.slick-prev{
	left: 0;
	margin-left: 75px;
}
.slick-next{
	margin-right: 75px;
	right: 0;
}

.slick-dots{
	position: absolute;
	bottom: -10px;
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	left: 48%;
}
.slick-dots li{
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button{
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	outline: none;
	opacity: .5;
	background-color: rgba(180, 180, 180, 1);
	border: 2px solid #fff;
	border-radius: 50%;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{
	opacity: 1;
}
.slick-dots li button:before{
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '';
	text-align: center;
	opacity: .25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button{
	opacity: 1;
}
@import 'slick-default-style.scss';