@font-face {
    font-family: 'Open Sans';
    src: url('opensans-regular.woff2') format('woff2'),
         url('opensans-regular.woff') format('woff'),
         url('opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}