@import 'variable.scss';

body{
	min-width: 320px;
	font-family: $mostserrat;
}

.fixed_panel{
	position: fixed;
	background-color: #fff;
	width: 100%;
	overflow: hidden;
	z-index: 9999;
}
.top_panel{
	padding: 15px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo_header{
	display: inline-flex;
	align-items: center;
	margin-right: 100px;
	span{
		margin-left: 15px;
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: rgba(117, 117, 117, 1.0);
		font-family: $mostserrat;
	}
}
.top_menu{
	display: inline-block;
	margin-right: 260px;
	li{
		display: inline-block;
		padding-right: 15px;
		a{
			color: rgba(170, 170, 170, 1.0); 
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 700;
			font-family: $mostserrat;
		}
		&:last-child{
			padding-right: 0;
		}
	}
}
.top_social{
	font-size: 14px;
	a{
		display: inline-block;
		color: rgba(170, 170, 170, 1.0);
		&:not(:last-child):after{
			content: '|';
			padding-left: 6px;
		}
	}
}

.s_intro{
	max-width: 990px;
	margin: 0 auto;
	padding: 70px 0;
	h2{
		padding-bottom: 45px;
		font-family: $amsdam;
		font-size: 20px;
		text-transform: uppercase;
		text-align: center;
		position: relative;
	}
	p{
		font-family: $crimsonText;
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 1px;
		text-align: center;
	}
}

.main_header{
	background-image: url('../img/bg/bg-header.png');
	background-size: cover;
	min-height: 600px;
	max-height: 1000px;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	h2{
		font-size: 14px;
		padding-bottom: 30px;
		font-family: $crimsonText;
		color: #fff;
		letter-spacing: 1px;
	}
	h1{
		display: inline-block;
		font-size: 2.5em;
		text-transform: uppercase;
		letter-spacing: .1em;
		font-family: $amsdam;
		font-weight: 400;
		color: #fff;
		padding: 30px 0;
		position: relative; 
		&:after{
			border-image: url('../img/wave/white-wave.png') 3 0 repeat;
			content: '';
			position: absolute;
			width: 110%;
			top: 95px;
			margin-left: -105%;
		}
		&:before{
			border-image: url('../img/wave/white-wave.png') 3 0 repeat;
			content: '';
			position: absolute;
			width: 110%;
			top: -5px;
			margin-left: -5%;
		}
	}
	a{
		margin-top: 35px;
		display: inline-block;
		padding: 15px 30px;
		border: 2px solid #fff;
		color: #fff;
		background: none;
		font-family: $mostserrat;
		letter-spacing: 1px;
		img{
			margin-top: 7px;
			margin-left: -5px;
			position: absolute;
			transition: .3s ease-out;
		}
		&:hover img{
			margin-top: 20px;
		}
	}
}

.wrapper_about_text{
	padding: 75px 0 35px;
	img{
		width: 100%;
		height: 325px;
		background-size: cover;
	}
	.about_intro{
		background-color: #fff;
		padding: 60px 75px 25px;
		text-align: center;
		h2{
			padding-bottom: 45px;
			font-family: $amsdam;
			font-size: 20px;
			text-transform: uppercase;
			position: relative;
			&:after{
				border-image: url('../img/wave/dark-wave.png') 3 0 repeat;
				content: '';
				position: absolute;
				top: 40px;
				width: 150px;
				margin-left: -140px;
			}
		}
		p{
			font-family: $crimsonText;
			font-size: 14px;
			line-height: 25px;
			letter-spacing: 2px;
			text-align: left;
		}
		a{
			margin-top: 50px;
			display: inline-block;
			padding: 15px 30px;
			border: 2px solid $main_color;
			color: $main_color;
			background-color: #fff;
			font-family: $mostserrat;
			transition: .3s ease-out;
			&:hover{
				background-color: $main_color;
				color: #fff;
			}
		}
	}
}
.wrapper_about_elem{
	padding: 0 45px 65px;
	display: flex;
	.about_elem{
		width: 25%;
		border-right: 1px solid #ccc;
		text-align: center;
		&:last-child{
			border: none;
		}
		p{
			margin: 25px 0;
			font-size: 13px;
			line-height: 18px;
			font-family: $mostserrat;
			text-transform: uppercase;
			color: $main_color;
		}
		span{
			font-size: 45px;
			color: $main_color;
		}
	}
}

.services{
	background-image: url('../img/bg/bg-services.png');
	background-size: cover;
	padding: 0 0 85px;
	color: rgba(207, 207, 207, 1.0);
	h2{
		&:after{
			border-image: url('../img/wave/white-wave.png') 3 0 repeat;
			content: '';
			position: absolute;
			top: 40px;
			width: 140px;
			margin-left: -130px;
		}
	}
}
.serv_wrapper{
	display: flex;
	justify-content: space-between;
	.serv-item_1:before{
		background: url('../img/icons/serv-Idea.png') no-repeat;
	}
	.serv-item_2:before{
		background: url('../img/icons/serv-Monitor.png') no-repeat;
	}
	.serv-item_3:before{
		background: url('../img/icons/serv-Combo.png') no-repeat;
	}
	.serv-item_4:before{
		background: url('../img/icons/serv-WP.png') no-repeat;
	}
	.serv-item{
		width: 24%;
		border-left: 2px solid #898989;
		border-right: 2px solid #898989;
		border-bottom: 2px solid #898989;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: -13px;
			left: 46%;
			height: 30px;
			width: 30px;
		}
		h4{
			padding: 55px 0 35px;
			text-align: center;
			text-transform: uppercase;
			font-size: 13px;
			font-family: $mostserrat;
			letter-spacing: 2px;
			line-height: 18px;
			&:before{
				content: '';
				position: absolute;
				border: 1px solid #898989;
				width: 35%;
				top:  0;
				left: 0;
			}
			&:after{
				content: '';
				position: absolute;
				border: 1px solid #898989;
				width: 35%;
				top:  0;
				left: 65%;
			}
		}
		p{
			font-family: $crimsonText;
			font-size: 14px;
			padding: 0 35px 45px;
			text-align: center;
			letter-spacing: 1px;
			line-height: 25px;
		}
	}
}
//////////////////////////////////////////////
.history{
	h2{
		&:after{
			border-image: url('../img/wave/dark-wave.png') 3 0 repeat;
			content: '';
			position: absolute;
			top: 40px;
			width: 140px;
			margin-left: -128px;
		}
	}
}

.timeline_wrapper{
	position: relative;
	width: 100%;
	background-color: inherit;
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	&:before{
		content: '';
		position: absolute;
		height: 75px;
		width: 75px;
		background: url('../img/icons/2015.png') no-repeat;
		top: -50px;
		left: 47%;
	}
	&:after{
		content: '';
		position: absolute;
		width: 3px;
		background-color: $main_color;
		left: 50%;
		height: 624px;
		top: 20px;
	}
	.entry-left{
		width: 47%;
		float: left;
		position: relative;
		.entry{
			margin-top: 15px;
			margin-bottom: 30px;
			&:last-child{
				margin-top: 270px;
			}
		}
	}
	.entry-right{
		width: 47%;
		float: right;
		position: relative;
		.entry{
			margin-top: 60px;
			&:last-child{
				margin-top: 180px;
				margin-bottom: 190px;
			}
		}
	}
	.fdate:before{
		content: '';
		position: absolute;
		width: 3px;
		background-color: $main_color;
		left: 106.4%;
		height: 387px;
		top: 55.9%;
	}
	.fdate:after{
		content: '';
		position: absolute;
		height: 55px;
		width: 55px;
		background: url('../img/icons/history-start.png') no-repeat;
		top: 88%;
		left: 102%;
	}
	.entry{
		box-sizing: border-box;
		padding: 20px;
		border: 3px solid $main_color;
		background-color: rgba(240,240,240,1);
		position: relative;
		h3{
			font-size: 13px;
			text-transform: uppercase;
			font-family: $mostserrat;
			color: $main_color;
			letter-spacing: 1px;
			margin-bottom: 5px;
			line-height: 18px;
		}
		h4{
			font-size: 11px;
			color: $main_color;
			line-height: 18px;
			margin-bottom: 15px;
			font-family: $mostserrat;
		}
		p{
			font-size: 14px;
			line-height: 20px;
			font-family: $crimsonText;;
			color: $main_color;
		}
	}
	.entry--left:after{
		content: '';
		border: 10px solid transparent;
		border-width: 0 0 13px 13px;
		border-color: transparent transparent transparent $main_color;
		position: absolute;
		top: 11%;
		left: 100%;
	}
	.entry--left:before{
		position: absolute;
		content: '';
		border: 13px solid $main_color;
		border-radius: 50%;
    top: 5%;
    left: 105%;
	}
	.entry--right:after{
		content: '';
		border: 10px solid transparent;
		border-width: 13px 0 0 13px;
		border-color: transparent transparent transparent $main_color;
		position: absolute;
		top: 11%;
		left: -2.2%;
		transform: rotate(180deg);
	}
	.entry--right:before{
		position: absolute;
		content: '';
		border: 13px solid $main_color;
		border-radius: 50%;
    top: 5%;
    left: -8.7%;
	}
	// .entry-right:after{
	// 	content: '';
	// 	position: absolute;
	// 	height: 75px;
	// 	width: 75px;
	// 	background: url('../img/icons/2014.png') no-repeat;
	// 	top: -50px;
	// 	left: 47%;
	// }
	.date:before{
		content: '';
		position: absolute;
		height: 75px;
		width: 75px;
		background: url('../img/icons/2014.png') no-repeat;
		top: 49.9%;
		left: -12.5%;
	}
}



//////////////////////////////////////////////////////
.team{
	background-image: url('../img/bg/bg-team.png');
	background-size: cover;
	h2{
		&:after{
			border-image: url('../img/wave/dark-wave.png') 3 0 repeat;
			content: '';
			position: absolute;
			top: 40px;
			width: 151px;
			margin-left: -142px;
		}
	}
}
.team_wrapper{
	max-width: 875px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-bottom: 70px;
	.team_elem{
		width: 31%;
		position: relative;
		&:hover .team_elem_wrapper .team_elem_intro{
			display: block;
		}
		.team_elem_wrapper{
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.team_elem_intro{
				display: none;
				width: 93%;
				height: 93%;
				background-color: rgba(255,255,255,.7);
				padding: 15px;
				h5{
					padding-top: 90%;
					font-size: 13px;
					line-height: 18px;
					color: $main_color;
					font-family: $mostserrat;
					letter-spacing: 1px;
				}
				hr{
					height: 2px;
					background-color: $main_color;
					border: none;
				}
				p{
					font-family: 'Crimson Text Italic', 'Arial', sans-serif;
					font-size: 14px;
					line-height: 18px;
					color: $main_color;
				}
				a{
					display: inline-block;
					color: rgba(66, 65, 65, 1.0);
					&:not(:last-child):after{
						content: '|';
						padding-left: 6px;
					}
				}
			}
		}
	}
}

.portfolio{
	h2{
		&:after{
			border-image: url('../img/wave/dark-wave.png') 3 0 repeat;
			content: '';
			position: absolute;
			top: 40px;
			width: 170px;
			margin-left: -160px;
		}
	}
}

.portolio_sel{
	padding-top: 55px;
	text-align: center;
	li{
		display: inline-block;
		padding: 10px 20px;
		color: rgba(66, 65, 65, 1.0);
		text-transform: uppercase;
		font-size: 11px;
		line-height: 20px;
		font-family: $mostserrat;
		border: 2px solid rgba(66, 65, 65, 1.0);
		transition: .3s ease-out;
		cursor: pointer;
		&:hover{
			background-color: rgba(66, 65, 65, 1.0);
			color: #fff;
		}
		&.active{
			background-color: rgba(66, 65, 65, 1.0);
			color: #fff;
		}
	}
}
.wrapper_portfolio_elem{
	height: 690px;
	max-width: 1600px;
	min-width: 1100px;
	width: 100%;
	margin: 0 auto;
	.portfolio_elem_clmn{
		height: 100%;
		width: 25%;
		display: flex;
		flex-direction: column;
		display: inline-block;
		&:not(:first-child){
			margin-left: -6px;
		}
		.portfolio_elem_row{
			position: relative;
			height: 100%;
			img{
				width: 100%;
				margin-bottom: -2px;
			}
			&_1{
				height: 60%;
			}
			&_2{
				height: 40%;
			}
			&_3{
				height: 43%;
			}
			&_4{
				height: 57%;
			}
			&_5{
				height: 33%;
			}
			&_6{
				height: 67%;
			}
			&_7{
				height: 64%;
			}
			&_8{
				height: 36%;
			}
		}
	}
}
.mix{
	display: none;
}

.prices{
	padding: 0 0 90px;
	h2{
		&:after{
			border-image: url('../img/wave/dark-wave.png') 3 0 repeat;
			content: '';
			position: absolute;
			top: 40px;
			width: 115px;
			margin-left: -102px;
		}
	}
}
.price_wrapper{
	display: flex;
	justify-content: space-between;
	.price_item{
		width: 32%;
		background-color: #fff;
		text-align: center;
		h5{
			text-transform: uppercase;
			letter-spacing: 2px;
			color: $main_color;
			font-size: 13px;
			line-height: 18px;
			font-family: $mostserrat;
			padding-top: 45px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				height: 50px;
				width: 50px;
				bottom: -75px;
		    left: 44%;
			}
		}
		.price_item_1:after{
			background: url('../img/icons/price-icon.png') no-repeat;
		}
		.price_item_2:after{
			background: url('../img/icons/price-icon-2.png') no-repeat;
		}
		.price_item_3:after{
			background: url('../img/icons/price-icon-3.png') no-repeat;
		}
		.price_span_1:after{
	    width: 25%;
	    margin-left: -5%;
		}
		.price_span_1:before{
	    width: 25%;
    	margin-left: -19%;
		}
		.price_span_2:after{
			width: 25%;
    	margin-left: -7%;
		}
		.price_span_2:before{
			width: 25%;
    	margin-left: -17%;
		}
		.price_span_3:after{
			width: 25%;
   	 	margin-left: -7%;
		}
		.price_span_3:before{
			width: 25%;
     	margin-left: -17%;
		}
		span{
			font-size: 70px;
			color: $main_color;
			font-weight: 700;
			font-family: $mostserrat;
			margin-top: 100px;
			display: block;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				border: 1px $main_color solid;
				top: -73%;
			}
			&:before{
				content: '';
				position: absolute;
				border: 1px $main_color solid;
				top: -73%;
			}
			sup{
			 	vertical-align: baseline;
			 	position: relative;
			 	font-size: 30px;
			 	top: -1.2em; 
			}
		}
		p{
			padding-top: 50px;
			font-size: 16px;
			line-height: 30px;
			color: $main_color;
			font-style: italic;
		}
		a{
			margin: 50px 0 60px;
			display: inline-block;
			padding: 15px 30px;
			border: 2px solid $main_color;
			color: $main_color;
			font-size: 13px;
			font-family: $mostserrat;
			transition: .3s ease-out;
			&:hover{
				color: #fff;
				background-color: $main_color;
			}
		}
	}
}

.look_wrapper{
	padding: 40px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	img{
		display: inline-block;
		width: 10%;
	}
	a{
		display: inline-block;
		padding: 15px 30px;
		border: 2px solid #fff;
		color: #fff;
		transition: .3s ease-out;
		&:hover{
			background-color: #fff;
			color: rgba(45, 45, 47, 1.0);
		}
	}
}
.look_intro{
	display: inline-block;
	width: 60%;
	h4{
		font-size: 16px;
		line-height: 18px;
		color: rgba(216, 216, 216, 1.0);
		letter-spacing: 2px;
		font-family: $mostserrat;
		margin-bottom: 25px;
	}
	p{
		font-style: italic;
		font-size: 16px;
		line-height: 20px;
		color: rgba(136, 136, 136, 1.0);
	}
}

.blog{
	h2{
		&:after{
			border-image: url('../img/wave/dark-wave.png') 3 0 repeat;
			content: '';
			position: absolute;
			top: 40px;
			width: 100px;
			margin-left: -90px;
		}
	}
}
.blog_items_wrapper{
	max-width: 1600px;
	min-width: 1200px;
	margin: 0 auto;
	.blog_item{
		width: 50%;
		display: inline-block;
		margin: -2px;
		height: 100%;
		position: relative;
		img{
			height: 100%;
		}
		.blog_intro{
			padding: 50px 40px;
			h5{
				font-style: italic;
				font-size: 12px;
				line-height: 18px;
				color: rgba(227, 227, 227, 1.0);
			}
			h4{
				text-transform: uppercase;
				font-size: 13px;
				line-height: 18px;
				color: rgba(227, 227, 227, 1.0);
				padding-bottom: 40px;
				letter-spacing: 1px;
				font-family: $mostserrat;
			}
			p{
				font-size: 14px;
				color: rgba(148, 148, 148, 1.0);
				line-height: 20px;
				font-family: $crimsonText;
			}
			hr{
				width: 50%;
				margin: 15px 0;
				height: 2px;
				border: none;
				background-color: rgba(69, 69, 69, 1.0);
			}
		}
	}
}

.clients{
	h2{
		&:after{
			border-image: url('../img/wave/dark-wave.png') 3 0 repeat;
			content: '';
			position: absolute;
			top: 40px;
			width: 125px;
			margin-left: -115px;
		}
	}
}
.clients_items_wrapper{
	display: flex;
	justify-content: space-between;
	padding: 0 40px 80px;
	.clients_item{
		display: inline;
	}
}

//////////////////////////////////////////////////////////////
.testimonials{
	background-image: url('../img/bg/testimonials.png');
	background-size: cover;
}
.wrapper_testimonials{
	padding: 75px 100px 70px;
	text-align: center;
	p{
		max-width: 990px;
		color: #efefef;
		font-size: 20px;
		line-height: 40px;
		font-style: italic;
		padding: 55px 0 65px;
		font-family: $crimsonText;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			background: url('../img/icons/bot_sub.png') no-repeat;
			height: 30px;
			width: 30px;
			margin-left: -3%;
    	top: 28%;
		}
		&:after{
			content: '';
			position: absolute;
			background: url('../img/icons/top_sup.png') no-repeat;
			height: 30px;
			width: 30px;
			margin-left: 0.5%;
    	top: 57%;
		}
	}
	h5{
		font-size: 13px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #e3e3e3;
		line-height: 18px;
		font-family: $mostserrat;
	}
	h6{
		font-family: $crimsonText;
		font-style: italic;
		font-size: 14px;
		line-height: 30px;
		color: #efefef;
		padding-bottom: 45px;
	}
}

//////////////////////////////////////////////////////////////
.map{
	height: 500px;
	background-image: url('../img/bg/Map.png');
	background-size: cover;
}

.footer{
	padding: 50px 0;
	background-image: url("../img/bg/bg-footer.png");
	background-size: cover;
	hr{
		margin: 50px 0 40px;
		border-color: rgba(148, 148, 148, 1.0);
	}
	span{
		font-size: 14px;
		font-style: italic;
		line-height: 20px;
		color: rgba(148, 148, 148, 1.0);
	}
}
.logo_footer{
	display: inline-flex;
	align-items: center;
	margin-right: 100px;
	span{
		margin-left: 15px;
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: rgba(117, 117, 117, 1.0);
		font-family: $mostserrat;
	}
}
.ft_main{
	display: flex;
	justify-content: space-between;
	padding-top: 45px;
	.ft_intro_wrapper{
		width: 32%;
		p{
			font-size: 14px;
			line-height: 20px;
			color: rgba(148, 148, 148, 1.0);
			font-family: $crimsonText;
			letter-spacing: 1px;
		}
		.emal{
			font-size: 13px;
			font-family: $mostserrat;
			text-transform: uppercase;
			line-height: 18px;
			letter-spacing: 1px;
			padding: 45px 0;
			color: rgba(227, 227, 227, 1.0);
		}
		h3{
			font-size: 13px;
			text-transform: uppercase;
			line-height: 18px;
			letter-spacing: 1px;
			color: rgba(227, 227, 227, 1.0);
			padding: 45px 0 35px;
			font-family: $mostserrat;
		}
	}
	.ft_social{
		font-size: 14px;
		a{
			display: inline-block;
			color: rgba(170, 170, 170, 1.0);
			&:not(:last-child):after{
				content: '|';
				padding-left: 6px;
			}
		}
	}
	.ft_contact-form{
		position: relative;
		width: 65%;
		.form-left{
			float: left;
			width: 42%;
		}
		.form-right{
			float: right;
			width: 42%;
		}
		input{
			padding: 20px;
			margin-bottom: 20px;
			background:none;
			border: 1px solid rgba(70, 70, 70, 1.0);
			color: rgba(255,255,255,.6);
		}
		input::-webkit-input-placeholder { color: rgba(70, 70, 70, 1.0); }
		input::-moz-placeholder { color: rgba(70, 70, 70, 1.0); }
		textarea{
			display: block;
			padding: 20px;
			margin-bottom: 20px;
			background:none;
			border: 1px solid rgba(70, 70, 70, 1.0);
			color: rgba(255,255,255,.6);
			width: 100%;
			box-sizing: border-box;
		}
		input[type="submit"]{
			display: inline-block;
			padding: 10px 30px;
			color: #fff;
			background-color: rgba(70, 70, 70, 1.0);
			cursor: pointer;
		}
	}
}