html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;
    background: rgb(220,220,220);
}

b, strong { font-weight: bold }
i, em { font-style: italic }

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}
.impress-enabled .step {
    margin: 0;
    opacity: 1;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.step_text{
    opacity: 1;
}

.impress-enabled .step.active { opacity: 1 }
.slide {
    display: block;
    /*align-items: center;*/
    /*justify-content: center;*/
    width: 1460px;
    height: 800px;
    padding: 40px 60px;
    color: #111;
    background: rgb(250,250,250);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
    position: relative;
}
.slide_text{
    width: 600px;
    height: 400px;
    background-color: red;
}
.slide_last{
    opacity: 0;
    background: rgba(0,0,0,0);
}
.first_title{
    display: block;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #111;
    font: 300 20px/40px 'Montserrat', sans-serif;
}
.first_main{
    margin-top: 150px;
    display: block;
    text-align: center;
    font-size: 1.3em;
}
.first_descr{
    margin-top: 150px;
    display: block;
    width: 50%;
    margin-left: 50%;
    text-align: left;
}
.first_descr_elem{
    display: block;
    font: 300 26px/48px 'Montserrat', sans-serif;
    margin-bottom: 15px;
}
.slides_quest{
    display: inline-block;
    font-size: 1.5em;
    padding:5px 20px 20px 5px;
    margin: 40px 0 50px 20px;
    border-bottom: 2px solid rgb(47, 201, 137);
    border-right: 2px solid rgb(47, 201, 137);
}
.second_descr{
    margin: 50px 200px 20px 50px;
    font: 300 0.9em/1.7 'Montserrat', sans-serif;
}
.three_descr{
    margin: 50px 100px 0 50px;
    font-size: 0.8em;
    line-height: 1.7;
}
.three_descr span{
    border-bottom: 2px solid rgb(47, 201, 137);
}
.three_list{
    margin: 30px 0 0 70px;
}
.three_list li{
    font-size: 0.8em;
    margin-top: 10px;
    list-style-type: none;
    position: relative;
    display: inline-block;
    width: 45%;
}
.three_list li:after{
    content: '–';
    position: absolute;
    left: -20px;
}
.three_des_list{
    margin: 50px 100px 0 50px;
    font-size: 1em;
}
.four_img{
    width: 100%;
    margin-top: -20px;
}
.four_img img{
    display: block;
    margin: 0 auto;
}
.fife_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left:50px; 
}
.fife_cont_elem{
    height: 300px;
}
.fife_cont_elem_left{
    width: 50%;
}
.fife_cont_elem_right{
    width: 50%;
}
.fife_cont_elem span{
    display: block;
}
.fife_cont_elem img{
    height: 100px;
    display: inline-block;
}
.fife_cont_elem_cont{
    width: 80%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.six_slides_quest{
    display: inline-block;
}
.six_cont{
    display: flex;
    justify-content: space-between;
}
.six_cont_box{
    width: 50%;
    margin-top: -30px;
}
.six_cont_left img{
    height: 600px;
    display: block;
    margin: 0 auto;
    border: 2px solid #333;
}
.six_cont_right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.six_cont_right img{
    display: inline-block;
    width: 500px;
    border: 2px solid #333;
}
.sev_cont{
    margin: 40px 100px 0 50px;
    height: 100%;
    display: 
    justify-content: space-around;
}
.sev_cont p{
    width: 100%;
    font: 300 1.1em/1.5 'Roboto',sans-serif;
    margin-bottom: 35px;
}
.eight_descr{
    margin: 40px 100px 0 50px;
}
.eight_descr p{
    margin-bottom: 25px;
    font: 300 0.9em/1.5 'Roboto',sans-serif;
}
.last_thanks{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.last_thanks h2{
    margin-top: 80px;
}
.last_github{
    position: absolute;
    top: 70px;
    right: 100px;
    display: flex;
    align-items: center;
}
.last_github span a{
    display: inline-block;
    font-size: 0.8em;
    position: relative;
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid #333;
}
.last_github img{
    width: 50px;
}
.last_codepen{
    position: absolute;
    bottom: 70px;
    left: 100px;
    display: flex;
    align-items: center;
}
.last_codepen span a{
    display: inline-block;
    font-size: 0.8em;
    position: relative;
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid #333;
}
.last_codepen img{
    width: 50px;
}