@import 'includes/vars.scss';
@import 'includes/animations.scss';
@import 'includes/form-validation.scss';
@import 'includes/popup-thanks.scss';
// @import 'includes/reset.scss';

body{
	font-family: 'Arial', sans-serif;
	width: 100%;
}
header,
section{
	height: 100vh;
}
.slide-content,
header,
section{
	transition: .3s;
}
header{
	background-color: #fff;
	position: relative;
}

.pos-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-wrapper{
	position: fixed;
	width: 100%;
	opacity: 1;
	z-index: 1000;
	background-color: #fff;
}

.section-demo{
	color: #fff;
}

.clearfix:before,
.clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}

.container{
	max-width: 1280px;
	margin: auto;
}

@import 'includes/header.scss';

@import 'includes/slider.scss';

@import 'includes/about.scss';

@import 'includes/footer.scss';

@import 'includes/arrow-scroll-top.scss';
@import 'includes/arrow-scroll-down.scss';
@import 'includes/radio-buttons-nav.scss';
@import 'includes/form-box.scss';
