body{
	font-family: 'Arial', sans-serif;
	width: 100%;
}
header,
section{
	height: 100vh;
}

.slide-content,
header,
section{
	transition: .3s;
}
header{
	background-color: #BAB2A8;
	position: relative;
	background: url('../img/SKtoTXfMmxw.jpg') no-repeat;
	background-size: cover;
}
section:nth-child(odd){
	background: url('../img/axCm7vwOU3E.jpg') no-repeat;
	background-size: cover;
}
section:nth-child(even){
	background: url('../img/joKAlnYSzqk.jpg') no-repeat;
	background-size: cover;
}

.pos-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-wrapper{
	position: fixed;
	width: 100%;
	opacity: 1;
	background-color: rgba(240, 240, 240, .8);
}
.top-nav__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px;
}
.top-nav__logo{
	max-width: 220px;
}
.top-nav__logo a img{
	display: block;
	width: 100%;
}
.top-nav__elem--text{
	padding: 30px 0;
	transition: .3s;
	border-bottom: 5px solid rgba(0,0,0,0);
}
.top-nav__elem-text--active{
	border-bottom: 5px solid rgba(205, 0, 0, 1);
}
.top-nav__elem--text:hover{
	border-bottom: 5px solid rgba(205, 0, 0, 1);
}
.top-nav__soc{
	display: block;
	background-color: rgba(17, 11, 115, .8);
	width: 100%;
	padding-left: 15px;
}
.top-nav__soc-item{
	padding: 5px;
	display: inline-block;
}
.top-nav__soc-item:not(:last-child){
	border-right: 1px solid #fff;
}
.top-nav__soc-item a{
	color: #fff;
}
.top-nav__list{
	display: flex;
	align-items: center;
}

.top-nav__elem--text a{
	text-transform: uppercase;
	color: #fff;
	padding: 0 10px;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1;
	border-right: 1px solid #fff;
}
.top-nav__elem--lang{
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 11px;
	padding: 0 10px;
	margin-right: 10px;
	border-right: 1px solid #fff;
}
.top-nav__elem--lang span{
	text-transform: uppercase;
	cursor: pointer;
	color: rgba(17, 11, 115, .8);
}
.top-nav__elem--lang span.active{
	color: red;
}
.burger-top{
	width: 40px;
	height: 40px;
	display: block;
	position: relative;
	cursor: pointer;
	border: 2px solid rgba(0,0,0,0);
  border-radius: 50%;
  transition: .3s;
}
.burger-top:hover{
	border-color: #fff;
}
.burger-top .bar{
	display: block;
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: #fff;
	top: 18px;
	left: 8px;
	transition: .3s;
}
.burger-top .bar--top{
	margin-top: -6px;
	// transition: 2s;
}
.burger-top .bar--bot{
	margin-top: 6px;
	// transition: 2s;
}
.page-scroll-top{
	position: fixed;
	opacity: 0;
	bottom: 30px;
	right: 30px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #fff;
	cursor: pointer;
	background-color: rgba(0,0,0,.2);
	transition: .3s, opacity .6s;
	z-index: 998;
}
.btn-down{
	display: inline-block;
	position: absolute;
	width: 30px;
	height: 30px;
	left: calc(50% - 15px);
	border-radius: 50%;
	cursor: pointer;
	bottom: 20px;
}
.btn-down__arrows{
	width: 30px;
	height: 30px;
	position: relative;
}
.page-scroll-top:hover{
	background-color: rgba(0,0,0,.5);
}
.scroll-top__arrows,
.btn-down__arrows{
	position: relative;
}
.btn-down__arrows{
	animation: arrowDownBounce
}
.scroll-top__arrow,
.btn-down__arrow{
	display: inline-block;
	position: absolute;
	top: 12px;
	width: 7px;
	height: 2px;
	background-color: #fff;
}
.btn-down__arrow--left{
	left: 9px;
	transform: rotate(45deg);
}
.btn-down__arrow--right{
	right: 9px;
	transform: rotate(-45deg);
}
.scroll-top__arrow--left{
	left: 7px;
	transform: rotate(-45deg);
}
.scroll-top__arrow--right{
	right: 7px;
	transform: rotate(45deg);
}
@keyframes arrowDownBounce{
	0%{transform: translateY(0);}
	50%{transform: translateY(7px);}
	100%{transform: translateY(10px);}
}

.section-demo{
	color: #fff;
}
.main-burger-menu{
	position: fixed;
	z-index: 999;
	background-color: rgba(230,230,230,1);
	right: 0;
	top: 0;
	overflow-y: hidden;
	transition: .3s;
	width: 0;
	height: 100%;
	display: flex;
}
.overflow-wrapper{
	transition: .3s;
}
.overflow-wrapper--hidden{
	z-index: 0;
	opacity: 0;
}
.burger-panel{
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 0;
	width: 30%;
	margin-left: auto;
	text-align: right;
	background-color: rgba(230,230,230,1);
	padding: 30px;
	height: 100%;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
}
.burger-panel-list{
	position: absolute;
	z-index: 1000;
	width: 190px;
	top: 130px;
	right: 30px;
	background-color: rgba(240, 240, 240, .8);
	border-radius: 10px;
	display: none;
}
.burger-panel-list:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: -10px;
	right: 10px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent rgba(240, 240, 240, .8) transparent;
}
.burger-top.active .bar--top,
.burger-top.active .bar--bot{
	margin-top: 0;
}
.burger-top.active .bar--mid{
	opacity: 0;
}
.burger-top.active .bar--top{
	transform: rotate(-315deg);
}
.burger-top.active .bar--bot{
	transform: rotate(315deg);
}
.burger-panel__elem{
	padding: 5px 10px;
}
.burger-panel__elem-link{
	text-align: center;
	display: block;
	width: 100%;
	color: #333;
	transition: .1s;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
}
.burger-panel__elem-link:hover{
	color: rgba(205, 0, 0, 1);
	letter-spacing: 3px;
}
.main-menu--overflow{
	height: 100%;
	width: 50%;
}
.bullets-container{
	display: flex;
	align-items: center;
	position: fixed;
	right: 0;
	top: 40%;
	z-index: 10;
	font-weight: 400;
}
.section-bullets{
	transition-duration: .3s;
	list-style: none;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	padding-right: 20px;
}
.section-bullets li{
	display: block;
	text-align: right;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 2;
	position: relative;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	cursor: pointer;
	margin-bottom: 1px;
}
.section-bullets li a{
	color: #000;
	overflow: hidden;
	position: relative;
	display: inline-block;
	transition-duration: .3s;
	margin-left: 5px;
	padding: 5px 20px 5px 10px;
	text-decoration: none;
	min-height: 15px;
}
.section-bullets li.active a span,
.section-bullets li:hover a span{
	background-color: rgba(255,255,255,1);
}
.section-bullets li a span{
	display: block;
	width: 13px;
	height: 13px;
	background-color: rgba(205, 0, 0, 1);
	border-radius: 50%;
	border: 4px solid rgba(205, 0, 0, 1);
	transition: .2s;
}