.container{
	max-width: 1200px;
	margin: 0 auto;
}

$sect_title: #333333;
$sect_text: #999999;
$fon_color: #95e1d3;

$Montserrat: 'Montserrat', 'Arial', sans-serif;
$Roboto: 'Roboto', 'Arial', sans-serif;
$Kaushan: 'Kaushan', 'Arial', sans-serif;