/*
================================================================================
|                                     reset                                     |
================================================================================
*/
*{ margin:0px; padding:0px;}
body{ margin:0px; padding:0px; font-family:Tahoma,Arial, sans-serif;background-color:#FFFFFF; height:100%; position:relative; font-size:16px!important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px;}
html{height:100%; -webkit-text-size-adjust: none;-ms-text-size-adjust: none;}
input, textarea {color: #333;  outline:none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none;}
input[type="button"], input[type="submit"], button {cursor: pointer}
td{margin: 0px; padding: 0px;}
form{padding: 0px; margin: 0px;}
a{color: #000100; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration:none; outline:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
input[type=submit], input[type=button], button{-webkit-appearance: none; outline: none;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.clearfix:after,
.wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

// /*

// ================================================================================
// |                                     MAIN STYLES                                     |
// ================================================================================
// */

@import 'includes/variable.scss';
@import '../sprites/sprite.scss';
header{
	margin-bottom: 30px;
}
.top-row{
	padding: 30px 15px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-row__logo{
	display: flex;
	flex-direction: column;
	max-width: 250px;
	img{
		width: 100%;
		display: block;
	}
}
.top-row__logo-text{
	color: #747688;
}
.top-row__logo-text,
.top-row__search-input,
.top-row__info{
	font: 400 .875em/1.5 $SansRegular;
}
.top-row__search-input,
.top-row__tel,
.top-row__info{
	margin-bottom: 20px;
}
.top-row__search {
	margin: 0 auto;
	position: relative;
	.fa-search{
		position: absolute;
		top: 12px;
		right: 10px;
		font-size: 1em;
		color: $theme_color;
	}
}
.top-row__search-input{
	color: #b8b8bd;
	border: 1px solid #b8b8bd;
	padding: 10px 40px 10px 10px;
	border-radius: 3px;
	width: 495px;
	box-sizing: border-box;
}
.top-row__tel{
	font: 400 1.4em/1.5 $SansRegular;
	color: #181616;
}
.top-row__info{
	margin-left: 15px;
}
.top-row__info-date{
	color: $theme_color;
}

.top-menu{
	padding: 20px 15px;
	border-top: 1px solid #b8b8bd;
	border-bottom: 1px solid #b8b8bd;
	display: flex;
	justify-content: space-between;
	align-items: center
}
.top-nav{width: 68%;}
.top-nav__list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}
.top-nav__dropdown{
	position: absolute;
	z-index: 1;
}
.list__item-link{
	font: 700 1em/1 $SansBold;
	letter-spacing: -1px;
}
.list__item:first-child{
	cursor: pointer;
	padding-right: 1%;
	position: relative;
	.list__item-link .fa-list-ul{
		margin-right: 10px;
		color: $theme_color;
	}
	.list__item-link .fa-angle-down{
		font-size: 1em;
		margin-left: 10px;
		font-weight: 700;
		color: $theme_color;
	}
	&:hover .top-nav__dropdown{
		display: block;
	}
}
.top-nav__dropdown,
.dropdown__dropdown{
	background-color: #fff;
	border: 1px solid #b8b8bd;
	border-radius: 3px;
	padding: 25px 0;
	box-shadow: 2px 1px 1px 1px rgba(0,0,0,.1);
}
.top-nav__dropdown{
	bottom: -325px;
	left: 0;
	display: none;
	width: 245px;
	&:after{
		position: absolute;
		content: '';
		width: 200px;
		height: 60px;
		top: -35px;
		opacity: 0;
	}
}
.dropdown__item_arrow-first:hover .dropdown__dropdown_first,
.dropdown__item_arrow-second:hover .dropdown__dropdown_second{
	display: block;
}
.dropdown__dropdown{
	display: none;
	position: absolute;
	right: -250px;
	top: -20px;
	width: 245px;
	&:before{
		position: absolute;
		content: '';
    left: -11px;
    height: 100%;
    width: 50px;
    top: -2px;
	}
}
.dropdown__item{
	list-style-type: none;
	padding: 5px 30px;
	transition: .1s;
	position: relative;
	&:before{
		position: absolute;
		content: '○';
		color: $theme_color;
		left: 10px;
    font-size: .875em;
    top: calc(50% - 8px);
	}
	&:hover{
		background-color: #e9e9ea;
	}
}
.dropdown__title{
	list-style-type: none;
	margin-left: 30px;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: $theme_color;
	font-size: 1em;
}
.dropdown__item-link{
	color: #666;
	font: 400 .95em/1.5 $SansRegular;
}

.top-menu__info,
.top-menu__info-product{
	display: flex;
	align-items: center
}
.dropdown__item_arrow{
	position: relative;
	.fa-angle-right{
		position: absolute;
		right: 15px;
		font-weight: 700;
		color: $theme_color;
		font-size: 1em;
	}
}
.top-menu__info-product-quant,
.top-menu__info-product-cost,
.top-menu__info-account p{
	font: 700 .875em/1 $SansBold;
	cursor: pointer;
	text-transform: uppercase;
}
.top-menu__info-product-cart{
	font-size: 24px;
	color: $theme_color;
}
.top-menu__info-product-cart{
	margin-right: 10px;
	cursor: pointer;
}
.top-menu__info-product-quant{
	display: flex;
	align-items: center;
	margin-right: 5px;
	cursor: pointer;
}
.js-count{
	margin-right: 5px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	color: #fff;
	border-radius: 50%;
	background-color: $theme_color;
}
.top-menu__info-account{
	padding-left: 25px;
	margin-left: 10px;
	position: relative;
	cursor: pointer;
	&:before{
		position: absolute;
		content: '';
		@include sprite($menu-user-icon);
    left: 0;
    top: -5px;
	}
}
.main-slider{max-width: 1355px;margin: 0 auto;}
.main-slide__wrapper{
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	background: url('../img/slider.jpg') center;
	background-size: cover;
	height: 325px;
}
.main-slide__content{
	padding: 20px 35px;
	max-width: 730px;
	background-color: rgba(203, 148, 76, .8);
	color: #fff;
	width: 50%;
	max-width: 510px;
	margin-left: 70px;
	h2{
		font: 400 2.625em/1.5 $SansRegular;
		z-index: 4;
	}
}
.slick-dots{
	position: absolute;
	bottom: -50px;
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	left: 48%;
}
.slick-dots li{
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button{
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	outline: none;
	background-color: #eedcc4;
	border: none;
	border-radius: 50%;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{
	opacity: 1;
}
.slick-dots li button:before{
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;

	position: absolute;
	top: 0;
	left: 0;

	width: 20px;
	height: 20px;

	content: '';
	text-align: center;

	opacity: .25;
	color: black;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before{
	opacity: .75;
	color: black;
	background: $theme_color;
	border-radius: 50%;
}

.slick-prev,
.slick-next{
	position: absolute;
	z-index: 999;
	height: 130px;
	width: 40px;
	border: none;
	font-size: 52px;
	top: calc(50% - 65px);
	transition: .3s;
	color: #fff;
	cursor: pointer;
	i{
		position: absolute;
		top: calc(50% - 26px;)
	}
	&:hover{
		background-color: rgba(255,255,255,.7);
		color: $theme_color;
	}
}
.slick-prev{
	i{
		left: 10px;
	}
	left: 0;
	background-color: rgba(203, 148, 76, .8);
}
.slick-next{
	i{
		right: 10px;
	}
	right: 0;
	background-color: rgba(203, 148, 76, .8);
}

$h: 2px;
$w: 15px;
.toggle-menu{
	display: none;
	width: 16.666%;
	height: 40px;
	background-color: #3eade2;
	z-index: 200;
	border: none;
	cursor: pointer;
	position: relative;
	margin-right: auto;
	.burger{
		position: absolute;
		top: 15px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 15px;
		height: 30px;
		.band-burg{
			position: relative;
			width: $w;
			height: $h;
			background: #fff;
			border: none;
			border-radius: 4px;
			display: block;
		}
		.band-burg-1{
			top: 0;
			transition: transform 0.2s, top 0.1s;
		}
		.band-burg-2{
			top: $h*2;
			transition: transform 0.2s, top 0.1s;
    		transition-delay: 0.2s, 0s;
		}
		.band-burg-3{
			top: $h*4;
			transition: all 0.2s;
    		transition-delay: 0.1s;
		}
	}
	.burger.active{
		.band-burg-1{
			top: 5px;
			transform: rotate(135deg);
		}
		.band-burg-2{
			top: 3px;
			transform: rotate(-135deg);
		}
		.band-burg-3{
			opacity: 0;
		    top: 0;
		    transform: rotate(360deg);
		}
	}
}
.mob-menu__tabs{display: none;}
.mob-menu__tab{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	cursor: pointer;
	background-color: #f0f1f6;
	color: #dbdbdc;
}
.mob-menu__tab-home{@include sprite($mob-home-icon);}
.mob-menu__tab-search{@include sprite($mob-search-icon);}
.mob-menu__tab-cart{@include sprite($mob-cart-icon);}
.mob-menu__tab-user{@include sprite($mob-user-icon);}
.mob-menu__tab-tel{@include sprite($mob-tel-icon);}
@import 'includes/media.scss';