.container {
  max-width: 1200px;
  margin: 0 auto; }

.active {
  display: inline-block !important; }

.header {
  background: url("../img/bg/bg-header.jpg") center;
  background-size: cover; }

.top-nav {
  padding-top: 29px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.top-nav__logo a {
  font: 700 30px/30px "Montserrat", "Arial", sans-serif;
  color: #fff; }

.top-nav__list li {
  display: inline-block;
  font: 400 14px/35px "Montserrat", "Arial", sans-serif;
  margin-right: 55px;
  border-bottom: 3px solid rgba(252, 227, 138, 0);
  -webkit-transition: .3s ease-out;
          transition: .3s ease-out; }
  .top-nav__list li a {
    color: #fff;
    -webkit-transition: .3s ease-out;
            transition: .3s ease-out;
    text-transform: uppercase; }
  .top-nav__list li:not(.top-nav__list_icon):hover {
    border-bottom: 3px solid #fce38a; }
  .top-nav__list li:hover a {
    color: #fce38a; }

.header-intro {
  text-align: center;
  margin-top: 165px; }
  .header-intro h2 {
    font: 400 72px/72px "Kaushan", "Arial", sans-serif;
    color: #fff; }
  .header-intro h1 {
    font: 700 150px/140px "Montserrat", "Arial", sans-serif;
    color: #fff;
    position: relative;
    padding-bottom: 65px;
    text-transform: uppercase; }
    .header-intro h1:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 4%;
      bottom: 0;
      left: 48%;
      background-color: #fff; }
  .header-intro a {
    margin: 50px 0 100px;
    display: inline-block;
    color: #fff;
    font: 700 14px/14px "Montserrat", "Arial", sans-serif;
    border: 3px solid #fff;
    padding: 12px 30px;
    text-transform: uppercase; }

.about {
  padding: 90px 0 110px; }

.sect-title {
  text-align: center; }
  .sect-title h3 {
    font: 400 24px/24px "Kaushan", "Arial", sans-serif;
    color: #000;
    margin-bottom: 30px; }
  .sect-title h2 {
    font: 700 30px/30px "Montserrat", "Arial", sans-serif;
    color: #000;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 31px; }
    .sect-title h2:after {
      content: '';
      position: absolute;
      height: 3px;
      bottom: 0;
      width: 6%;
      left: 46%;
      background-color: #f38181; }

.sect-descr {
  text-align: center;
  margin: 45px 120px 100px; }
  .sect-descr p {
    font: 400 15px/24px "Roboto", "Arial", sans-serif;
    color: #999999; }

.about__sect-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.about__sect-content__elem {
  width: 30%;
  background-color: #95e1d3;
  cursor: pointer; }
  .about__sect-content__elem .about__sect-content__elem_mask {
    background-size: cover;
    width: 100%;
    height: 237px;
    -webkit-transition: .3s ease-out;
            transition: .3s ease-out;
    position: relative; }
    .about__sect-content__elem .about__sect-content__elem_mask:hover {
      margin: -10px 0 0 -10px; }
  .about__sect-content__elem .about__sect-content__elem_mask_one {
    background-image: url("../img/photo/pic-1.jpg"); }
  .about__sect-content__elem .about__sect-content__elem_mask_two {
    background-image: url("../img/photo/pic-2.jpg"); }
  .about__sect-content__elem .about__sect-content__elem_mask_three {
    background-image: url("../img/photo/pic-3.jpg"); }

.about__sect-content__elem_mask:hover .about__sect-content__elem_mask_content {
  opacity: 1; }

.about__sect-content__elem_mask_content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: .3s ease-out;
          transition: .3s ease-out;
  background: -webkit-linear-gradient(top, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)); }
  .about__sect-content__elem_mask_content h5 {
    font: 700 18px/18px "Montserrat", "Arial", sans-serif;
    margin-top: 20px; }

.info {
  background-color: #95e1d3; }

.info__sect-content_elem {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  border-right: 1px solid #b5eae0;
  margin-right: -4px;
  color: #fff;
  padding: 90px 0; }
  .info__sect-content_elem span:first-child {
    font: 700 72px/72px "Montserrat", "Arial", sans-serif; }
  .info__sect-content_elem span:last-child {
    font: 400 14px/14px "Montserrat", "Arial", sans-serif;
    text-transform: uppercase; }

.info__sect-content_elem:first-child {
  border-left: 1px solid #b5eae0; }

.service {
  padding: 110px 0 70px; }
  .service .sect-title h2:after {
    width: 5%;
    left: 47%; }

.service__sect-content-1 {
  border-bottom: 1px solid #b5eae0; }

.service__sect-content-1,
.service__sect-content-2 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.service__sect-content_item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  margin-right: -3px;
  padding: 65px 0 50px; }

.service__sect-content_item_img {
  width: 10%;
  min-width: 35px; }
  .service__sect-content_item_img img {
    width: 100%;
    display: block; }

.service__sect-content_item_text {
  width: 81%; }
  .service__sect-content_item_text h3 {
    font: 400 14px/14px "Montserrat", "Arial", sans-serif;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 20px; }
  .service__sect-content_item_text p {
    font: 400 15px/24px "Roboto", "Arial", sans-serif;
    color: #999999; }

.devices {
  padding: 110px 0 0;
  background: url("../img/bg/bg-features.jpg") center;
  background-size: cover;
  position: relative; }

.devices .sect-title h2:after {
  width: 5%;
  left: 48%; }

.devices__sect-content {
  text-align: center;
  margin-left: -40px; }
  .devices__sect-content img {
    display: block;
    margin: 0 auto; }

.devices__sect-content_absolut_img {
  position: absolute;
  bottom: 0;
  bottom: -10%;
  right: 22%; }
  .devices__sect-content_absolut_img img {
    width: 100%;
    display: block; }

.services {
  padding: 110px 0 120px; }

.services__sect-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.services__sect-content_img {
  width: 48%; }
  .services__sect-content_img img {
    width: 100%;
    display: block; }

.services__sect-content_accordeon {
  width: 48%; }

.services__sect-content_accordeon_item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  cursor: pointer; }
  .services__sect-content_accordeon_item h3 {
    text-transform: uppercase;
    color: #333333;
    font: 400 14px/14px "Montserrat", "Arial", sans-serif;
    padding: 25px;
    border-bottom: 1px solid #e5e5e5;
    position: relative; }
    .services__sect-content_accordeon_item h3 span {
      position: absolute;
      background: url("../img/icons/services-arrow-bot.png") no-repeat;
      left: 92%;
      width: 23px;
      height: 15px;
      -webkit-transition: .2s ease-out;
              transition: .2s ease-out; }
  .services__sect-content_accordeon_item p {
    -webkit-transition: .5s ease-out;
            transition: .5s ease-out;
    display: none;
    padding: 10px;
    font: italic 300 15px/24px "Roboto", "Arial", sans-serif;
    color: #999999; }

.services__sect-content_accordeon_item:last-child {
  margin-bottom: 0; }

.first_slide {
  padding: 70px 0;
  background-color: #f8f8f8; }

.first_slide_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 985px;
  margin: 0 auto; }

.first_slide_wrapper_img {
  width: 150px;
  height: 150px;
  border: 2px solid #95e1d3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.first_slide_wrapper_descr {
  width: 79%; }
  .first_slide_wrapper_descr p {
    font: italic 300 24px/36px "Roboto", "Arial", sans-serif;
    color: #999999; }
  .first_slide_wrapper_descr h4 {
    font: 400 24px/36px "Kaushan", "Arial", sans-serif;
    color: #333333;
    position: relative;
    padding-left: 60px; }
    .first_slide_wrapper_descr h4:before {
      content: '';
      position: absolute;
      width: 50px;
      background-color: #f38181;
      height: 2px;
      left: 0;
      top: 50%; }

.team {
  padding: 100px 0 120px; }

.team__sect-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.team__sect-content__elem {
  width: 30%;
  background-color: #95e1d3; }
  .team__sect-content__elem .team__sect-content__elem_mask {
    background-size: cover;
    width: 100%;
    height: 475px;
    -webkit-transition: .3s ease-out;
            transition: .3s ease-out;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .team__sect-content__elem .team__sect-content__elem_mask:hover {
      margin: -10px 0 0 -10px; }
    .team__sect-content__elem .team__sect-content__elem_mask:hover li a {
      opacity: 1; }
    .team__sect-content__elem .team__sect-content__elem_mask li {
      display: inline-block;
      margin-right: -4px; }
      .team__sect-content__elem .team__sect-content__elem_mask li a {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #fce38a;
        color: #f38181;
        width: 56px;
        height: 56px;
        -webkit-transition: .2s ease-out;
                transition: .2s ease-out;
        opacity: 0;
        font-size: 1.5em; }
        .team__sect-content__elem .team__sect-content__elem_mask li a:hover {
          background-color: #f38181;
          color: #fce38a; }

.team__sect-content__elem_mask_one {
  background-image: url("../img/photo/team-1.png"); }

.team__sect-content__elem_mask_two {
  background-image: url("../img/photo/team-2.png"); }

.team__sect-content__elem_mask_three {
  background-image: url("../img/photo/team-3.png"); }

.logos {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10px; }

.works {
  padding: 110px 0 120px; }

.works__wrapper {
  background-color: #95e1d3; }

.works__wrapper_column {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  height: 780px; }

.works__wrapper_column_item {
  height: 390px;
  width: 25%;
  margin-right: -4px;
  background-position: center;
  background-size: cover;
  cursor: pointer; }
  .works__wrapper_column_item:hover .works__wrapper_column_item_mask {
    opacity: 1; }

.works__wrapper_column_item-one {
  background-image: url("../img/photo/work-item-1.png"); }

.works__wrapper_column_item-two {
  background-image: url("../img/photo/work-item-2.png"); }

.works__wrapper_column_item-three {
  background-image: url("../img/photo/work-item-3.png"); }

.works__wrapper_column_item-four {
  background-image: url("../img/photo/work-item-4.png"); }

.works__wrapper_column_item-five {
  background-image: url("../img/photo/work-item-5.png");
  height: 780px; }

.works__wrapper_column_item-six {
  background-image: url("../img/photo/work-item-6.png"); }

.works__wrapper_column_item-seven {
  background-image: url("../img/photo/work-item-7.png"); }

.works__wrapper_column_item_mask {
  width: 100%;
  height: 390px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  opacity: 0;
  -webkit-transition: .3s ease-out;
          transition: .3s ease-out;
  background: -webkit-linear-gradient(top, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)); }
  .works__wrapper_column_item_mask img {
    margin-bottom: 20px;
    display: block; }
  .works__wrapper_column_item_mask h4 {
    font: 400 14px/14px "Montserrat", "Arial", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .works__wrapper_column_item_mask span {
    font: italic 300 15px/15px "Roboto", "Arial", sans-serif; }

.works__wrapper_column_item_mask_x2 {
  height: 780px; }

.second_slide {
  padding: 0 0 70px; }

.second_slide_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 985px;
  margin: 0 auto; }

.second_slide_wrapper_img {
  width: 150px; }
  .second_slide_wrapper_img img {
    border-radius: 50%;
    display: block;
    width: 100%; }

.second_slide_wrapper_descr {
  width: 79%; }
  .second_slide_wrapper_descr p {
    font: italic 300 24px/36px "Roboto", "Arial", sans-serif;
    color: #999999; }
  .second_slide_wrapper_descr h4 {
    font: 400 24px/36px "Kaushan", "Arial", sans-serif;
    color: #333333;
    position: relative;
    padding-left: 60px; }
    .second_slide_wrapper_descr h4:before {
      content: '';
      position: absolute;
      width: 50px;
      background-color: #f38181;
      height: 2px;
      left: 0;
      top: 50%; }

.clietns {
  padding: 110px 0 130px;
  background: url("../img/bg/bg-people.jpg") center;
  background-size: cover; }

.clietns_wrapper {
  margin-top: 85px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.clietns_wrapper_column {
  width: 45%; }

.clietns_wrapper_column_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px; }

.clietns_wrapper_column_item_img {
  width: 23%; }
  .clietns_wrapper_column_item_img img {
    display: block;
    width: 100%;
    cursor: pointer; }

.clietns_wrapper_column_item_text {
  width: 73%; }
  .clietns_wrapper_column_item_text h3 {
    font: 400 14px/14px "Montserrat", "Arial", sans-serif;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 15px; }
  .clietns_wrapper_column_item_text span {
    font: italic 300 15px/15px "Roboto", "Arial", sans-serif;
    color: #333333;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    display: block; }
    .clietns_wrapper_column_item_text span:after {
      content: '';
      position: absolute;
      height: 3px;
      background-color: #f38181;
      width: 15%;
      bottom: 0;
      left: 0; }
  .clietns_wrapper_column_item_text p {
    font: 400 15px/24px "Roboto", "Arial", sans-serif;
    color: #999999; }

.blog {
  padding: 110px 0 115px; }

.blog .sect-title h2:after {
  width: 5%;
  left: 48%; }

.blog_wrapper {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.blog_wrapper_item {
  width: 30%; }

.blog_wrapper_item_img {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer; }
  .blog_wrapper_item_img img {
    width: 100%;
    display: block; }
  .blog_wrapper_item_img .date {
    position: absolute;
    bottom: 3%;
    left: -2%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60px;
    height: 70px;
    background-color: #95e1d3;
    color: #fff; }
    .blog_wrapper_item_img .date .number {
      font: 700 30px/30px "Montserrat", "Arial", sans-serif; }
    .blog_wrapper_item_img .date .mounth {
      font: italic 300 15px/15px "Roboto", "Arial", sans-serif; }

.blog_wrapper_item_text {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5; }
  .blog_wrapper_item_text h3 {
    text-transform: uppercase;
    color: #333333;
    font: 400 14px/14px "Montserrat", "Arial", sans-serif;
    margin-bottom: 20px; }
  .blog_wrapper_item_text p {
    color: #999999;
    font: 400 15px/24px "Roboto", "Arial", sans-serif; }

.blog_wrapper_item_footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.blog_wrapper_item_footer_watch {
  margin-right: 15px; }

.blog_wrapper_item_footer_watch, .blog_wrapper_item_footer_comment {
  display: inline-block; }
  .blog_wrapper_item_footer_watch span, .blog_wrapper_item_footer_comment span {
    font: italic 300 15px/15px "Roboto", "Arial", sans-serif;
    color: #999999; }

.map {
  background: url("../img/bg/bg-map.png") center;
  padding: 60px 0;
  text-align: center; }

.map_wrapper {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .map_wrapper img {
    display: inline-block;
    width: 22px;
    margin-bottom: 20px; }
  .map_wrapper h2 {
    font: 700 24px/24px "Montserrat", "Arial", sans-serif;
    text-transform: uppercase;
    color: #f38181;
    display: inline-block;
    padding-bottom: 20px;
    position: relative; }
    .map_wrapper h2:after {
      content: '';
      position: absolute;
      height: 3px;
      background-color: #f38181;
      bottom: 0;
      width: 45%;
      left: 29%; }

.footer {
  background-color: #f8f8f8; }

.footer_wrapper {
  padding: 75px 0 70px;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer_wrapper_item_soc {
  width: 39%; }

.footer_wrapper_item_soc_wrapper {
  border-bottom: 1px solid #e5e5e5; }
  .footer_wrapper_item_soc_wrapper h2 {
    font: 700 46px/46px "Montserrat", "Arial", sans-serif;
    color: #cccccc;
    margin-bottom: 45px; }
  .footer_wrapper_item_soc_wrapper p {
    font: 400 15px/25px "Roboto", "Arial", sans-serif;
    color: #999999;
    margin-bottom: 50px; }
  .footer_wrapper_item_soc_wrapper h3 {
    font: 400 14px "Montserrat", "Arial", sans-serif;
    color: #333333;
    margin-bottom: 20px; }
    .footer_wrapper_item_soc_wrapper h3 span {
      font: 700 18px "Montserrat", "Arial", sans-serif; }

.footer_wrapper_item_soc_social {
  margin: 20px 0 40px; }
  .footer_wrapper_item_soc_social span {
    font: italic 300 15px "Roboto", "Arial", sans-serif;
    color: #999999;
    display: inline-block;
    margin-right: 20px; }
  .footer_wrapper_item_soc_social ul {
    display: inline-block; }
    .footer_wrapper_item_soc_social ul li {
      display: inline-block;
      margin-right: 15px; }
      .footer_wrapper_item_soc_social ul li a {
        font-size: 1em;
        color: #95e1d3; }
    .footer_wrapper_item_soc_social ul li:last-child {
      margin-right: 0; }

.footer_wrapper_item_soc_form input[type="email"] {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #e7e7e7;
  line-height: 20px; }
.footer_wrapper_item_soc_form input[type="submit"] {
  width: 40%;
  padding: 10px;
  border: 2px solid #95e1d3;
  background-color: #95e1d3;
  margin-left: -4px;
  line-height: 20px;
  font: 700 14px "Montserrat", "Arial", sans-serif;
  color: #fff;
  cursor: pointer; }
.footer_wrapper_item_soc_form input[type="email"]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font: italic 300 15px "Roboto", "Arial", sans-serif;
  color: #cccccc; }
.footer_wrapper_item_soc_form input[type="email"]:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font: italic 300 15px "Roboto", "Arial", sans-serif;
  color: #cccccc;
  opacity: 1; }
.footer_wrapper_item_soc_form input[type="email"]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font: italic 300 15px "Roboto", "Arial", sans-serif;
  color: #cccccc;
  opacity: 1; }
.footer_wrapper_item_soc_form input[type="email"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font: italic 300 15px "Roboto", "Arial", sans-serif;
  color: #cccccc; }

.footer_wrapper_item_blog {
  width: 30%; }
  .footer_wrapper_item_blog h2 {
    font: 400 14px "Montserrat", "Arial", sans-serif;
    color: #333333;
    text-transform: uppercase;
    margin: 10px 0 40px; }

.footer_wrapper_item_blog_blogs_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer; }

.footer_wrapper_item_blog_blogs_item:not(:last-child) {
  margin-bottom: 30px; }

.footer_wrapper_item_blog_blogs_item_img {
  display: inline-block;
  width: 38%;
  box-sizing: border-box; }
  .footer_wrapper_item_blog_blogs_item_img img {
    display: block;
    width: 100%; }

.footer_wrapper_item_blog_blogs_item_content {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 57%; }
  .footer_wrapper_item_blog_blogs_item_content h3 {
    font: 400 12px/18px "Montserrat", "Arial", sans-serif;
    color: #333333;
    text-transform: uppercase; }
  .footer_wrapper_item_blog_blogs_item_content span {
    display: block;
    font: italic 300 13px "Roboto", "Arial", sans-serif;
    color: #999999; }

.footer_wrapper_item_inst {
  width: 25%; }
  .footer_wrapper_item_inst h2 {
    font: 400 14px "Montserrat", "Arial", sans-serif;
    color: #333333;
    text-transform: uppercase;
    margin: 10px 0 40px; }
  .footer_wrapper_item_inst span {
    margin-top: 10px;
    display: block;
    font: italic 300 13px "Roboto", "Arial", sans-serif;
    color: #999999;
    cursor: pointer; }

.footer_wrapper_item_inst_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer_wrapper_item_inst_items_item {
  width: 32.5%;
  display: block;
  cursor: pointer;
  margin-bottom: 4px; }
  .footer_wrapper_item_inst_items_item img {
    width: 100%;
    display: block; }

.footer_info {
  padding: 25px 0;
  text-align: center; }
  .footer_info h4 {
    font: 400 14px "Montserrat", "Arial", sans-serif;
    color: #333333; }
    .footer_info h4 span {
      color: #f38181;
      cursor: pointer; }
